In [10]:
import sys
sys.path.append("./")
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

sns.set()

## Data

In [26]:
import data

In [27]:
df = pd.read_csv("stocks.csv", index_col=0)

In [28]:
df

,AAPL,AMD,AMZN,GOOGL,INTC,META,MSFT,MU,NVDA,TSLA
Date,,,,,,,,,,
2019-12-31,73.412498,45.860001,92.391998,66.969498,59.849998,205.250000,157.699997,53.779999,58.825001,27.888666
2020-01-02,75.087502,49.099998,94.900497,68.433998,60.840000,209.779999,160.619995,55.389999,59.977501,28.684000
2020-01-03,74.357498,48.599998,93.748497,68.075996,60.099998,208.669998,158.619995,54.529999,59.017502,29.534000
2020-01-06,74.949997,48.389999,95.143997,69.890503,59.930000,212.600006,159.029999,53.570000,59.264999,30.102667
2020-01-07,74.597504,48.250000,95.343002,69.755501,58.930000,213.059998,157.580002,58.270000,59.982498,31.270666
...,...,...,...,...,...,...,...,...,...,...
2022-09-26,150.770004,66.300003,115.150002,98.169998,26.969999,136.369995,237.449997,48.880001,122.279999,276.010010
2022-09-27,151.759995,67.169998,114.410004,97.500000,26.889999,134.399994,236.410004,50.580002,124.129997,282.940002
2022-09-28,149.839996,68.360001,118.010002,100.050003,27.129999,141.610001,241.070007,51.000000,127.360001,287.809998
2022-09-29,142.479996,64.139999,114.800003,97.419998,26.379999,136.410004,237.500000,50.009998,122.199997,268.209991
2022-09-30,138.199997,63.360001,113.000000,95.650002,25.770000,135.679993,232.899994,50.099998,121.389999,265.250000

In [29]:
assets = ["AAPL"]
weights = [1.0]
returns = data.stocks_returns(assets, weights, from_date="09/02/2022", to_date="09/07/2022")

In [30]:
returns

Date
2022-09-02   -0.013611
2022-09-06   -0.008215
2022-09-07    0.009254
dtype: float64